body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* Impede que o conteúdo seja rolado sob o menu */
}

header {
    height: 82px;
    background-color: #59738D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu-toggle {
    cursor: pointer;
    overflow-y: auto;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.mobile-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: -250px;
    /* Inicialmente, o menu fica fora da tela à esquerda */
    top: 0;
    width: 250px;
    /* Largura do menu */
    height: 100%;
    /* Altura da tela inteira */
    background-color: #1b1919ea;
    transition: left 0.3s;
    /* Efeito de deslize */
    overflow: hidden;
    z-index: 2;
}

.mobile-menu li {
    margin: 20px;
}

.mobile-menu a {
    font-size: 25px;
    margin: 25px;
    text-decoration: none;
    color: white;
}

.mobile-menu.open {
    left: 0;
    /* Exibe o menu deslizando da esquerda para a direita */
}

main {
    margin-left: 250px;
    /* A margem à esquerda é igual à largura do menu para evitar a sobreposição */
    padding: 20px;
}

.close-menu-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.close-menu-button:focus {
    outline: none;
}

#logo {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    width: 200px;
}

#options {
    list-style: none;
    padding: 0;
    overflow: hidden;
    position: relative;
    bottom: -353px;

}

li {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
}

/*--------------------------------------------------configs do menu lateral---------------------------------------------*/
.container {
    text-align: center;
}
/*----------------------------------------------CSS dos card-------------------------------------------------------------------*/
.card-container {
    margin-left: 50px;
    display: flex;
    /* Define um layout flexível */
    flex-wrap: wrap;
    /* Permite que os cards quebrem para a próxima linha se não couberem na largura da tela */
}

.card {
    width: calc(33.33% - 20px);
    /* Define a largura de cada card (ajuste conforme necessário) */
    margin: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}



/*-------------------------------------------------card destaque-------------------------------------------------------------*/
.card-destaque{
    text-align: center;
}

.profile-card-2 {
    display: inline-block;
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}


/*-----------------------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    }
    .slider-main-container{
    height: 100vh;
    overflow: hidden;
    position: relative;
    }
    .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    }
    .slide.active{
    display: flex;
    }
    .caption-container, .image-container{
    width: 50%;
    height: 100%;
    margin: auto;
    background: #FFF;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .caption{
    width: 70%;
    margin: auto;
    }
    .caption h1{
    font-size: 40px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0px;
    }
    .slide.active .caption h1{
    opacity: 0;
    animation: caption-animation 0.5s ease forwards;
    animation-delay: 0.6s;
    }
    .caption p{
    font-size: 18px;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    margin: 15px 0px 30px;
    text-align: justify;
    }
    .slide.active .caption p{
    opacity: 0;
    animation: caption-animation 0.5s ease forwards;
    animation-delay: 0.8s;
    }
    .caption a{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding: 10px 30px;
    background: #000;
    color: #FFF;
    text-decoration: none;
    border: 3px solid #000;
    }
    .slide.active .caption a{
    opacity: 0;
    animation: caption-animation 0.5s ease forwards;
    animation-delay: 1.2s;
    }
    .image-container{
    right: 0px;
    background: transparent;
    }
    .image-container img{
    width: 260px;
    height: 260px;
    margin: auto;
    animation: img-animation 2s ease;
    }


/* Estilos para telas menores (responsivo) */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .header {
        width: 100%;
    }

    /* .container{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap ;
        align-items: center;

    } */
    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 50%;
        /* Faz com que cada card ocupe metade da largura da tela */
        box-sizing: border-box;
        /* Certifica-se de que as bordas e o preenchimento não aumentem o tamanho do card */
        padding: 10px;
        width: 140px;
    }
}

@media screen and (max-width: 1280px) and (max-height: 907px) {

.card{
    width: 150px;
}
}